@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #2575FC;
    --secondary-color: #23C4A6;
    --bg-color: #F5F7FA;
    --text-primary: #333333;
    --section-color: #FFFFFF;
    --text-secondary: #666666;
    --border-color: #D9DDE3;
    --error-color: #FF6B6B;
    --success-color: #4CAF50;
    --warning-color: #FFC107;
    --info-color: #2196F3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Big Shoulders Text", serif;
}


.analytics {
    padding: 20px;
    background: #f5f7fa;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    text-align: center;
}

.analytics h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-secondary);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .analytics {
        padding: 10px;
        margin: 20px auto;
        align-items: center;
    }

    .analytics h3 {
        font-size: 1.5rem;
    }

    .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}