:root {
    --primary-color: #2575FC;
    --secondary-color: #23C4A6;
    --bg-color: #F5F7FA;
    --text-primary: #333333;
    --section-color: #FFFFFF;
    --text-secondary: #666666;
    --border-color: #D9DDE3;
    --error-color: #FF6B6B;
    --success-color: #4CAF50;
    --warning-color: #FFC107;
    --info-color: #2196F3;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.nav-links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
}

.nav-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.auth-btns  {
    display: flex;
    align-items: center;
    gap: .8rem;
    transition: all 0.3s ease;
}

.auth-btns .login-btn {
    color: #2575fc;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
}

.auth-btns .signup-btn {
    background: #2575fc;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.auth-btns .signup-btn:hover {
    background: #1d63d8;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--text-primary);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {

    .navbar .container {
        max-width: 90%;
    }

    .nav-links, .auth-btns {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu.open {
        flex-direction: column;

    }

    .nav-links.open, .auth-btns.open {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateY(0);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        backdrop-filter: blur(5px);
        background-color: var(--bg-color);
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        z-index: 100;
        box-shadow: none;
    }

    .auth-btns.open {
        top: 25rem;
        box-shadow: none;
    }


    .nav-links.open a, .auth-btns.open .login-btn, .auth-btns.open .signup-btn {
        display: block;
        margin: 10px 0;
    }
}